@import "../vars.scss";

.additional-products {
  padding-bottom: 35px;
  padding-top: 8px;
  overflow-x: hidden;
}

.additional-products__list {
  margin-bottom: 37px;
}

.additional-products__title {
  margin-bottom: 12px;
  margin-left: -32px;
}

@media screen and (max-width: $mobile-width-only) {
  .additional-products__title {
    & span {
      padding-right: 24px;
      padding-left: 29px;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .additional-products {
    padding-bottom: 76px;
    margin-top: -17px;
  }

  .additional-products__title {
    margin-bottom: 58px;
  }

  .additional-products__list {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: $desktop-width) {
  .additional-products {
    padding-top: 13px;
    padding-bottom: 85px;
  }

  .additional-products__title {
    margin-bottom: 61px;
  }

  .additional-products__title span {
    padding-left: 32px;
  }

  .additional-products__list {
    margin-bottom: 0;
  }

  .additional-products__wrap {
    display: flex;
    justify-content: space-between;
  }
}
