@import "../vars.scss";

.catalog {
  width: 100%;
}

.catalog__title {
  padding-top: 26px;
  padding-bottom: 40px;
}

@media screen and (min-width: $tablet-width) {
  .catalog {
    padding-top: 25px;
  }
}
