@import "../vars.scss";

.contacts {
  width: 100%;
  position: relative;

  &--main {
    background-color: $white;
  }

  &--inverse {
    background-color: $light-bg;
  }
}

.contacts__block {
  padding-top: 28px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.contacts__lead-text {
  width: 50%;
  display: inline-block;
  color: $dark-text;
  font-family: $Font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__adress {
  width: 50%;
  margin: 0;
}

.contacts__adress span {
  display: block;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  height: 364px;
  position: relative;
  z-index: 2;
}

.contacts__map-wrapper {
  width: 100%;
  height: 364px;
  background-color: $light-bg;
}

.contacts__map-static {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 364px;
  margin: 0 auto;

  &::after {
    width: 55px;
    height: 53px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/map-pin.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
}

.contacts__map-img {
  width: 100%;
  max-width: 320px;
  height: 364px;
}

@media screen and (min-width: $tablet-width) {
  .contacts__block {
    padding: 66px 40px 57px;
  }

  .contacts__lead-text {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    width: 160px;
    text-align: right;
  }

  .contacts__adress span:first-of-type {
    margin-bottom: 19px;
  }

  .contacts__map-static {
    height: 395px;
    max-width: 768px;

    &::after {
      width: 113px;
      height: 106px;
    }
  }

  .contacts__map,
  .contacts__map-wrapper,
  .contacts__map-img {
    height: 395px;
  }

  .contacts__map-img {
    max-width: 768px;
  }
}

@media screen and (min-width: $desktop-width) {
  .contacts {
    &--inverse {
      background-color: $white;
    }
  }

  .contacts__wrap {
    position: relative;
  }

  .contacts__block {
    width: 570px;
    padding: 65px 84px 56px 76px;
    position: absolute;
    left: 30px;
    top: 95px;
    z-index: 3;
    background-color: $white;
  }

  .contacts__adress {
    text-align: left;
  }

  .contacts__map,
  .contacts__map-wrapper,
  .contacts__map-img,
  .contacts__map-static {
    height: 400px;
  }

  .contacts__map-static {
    max-width: 1440px;

    &::after {
      left: auto;
      right: 18.5%;
    }
  }

  .contacts__map-img {
    max-width: 1440px;
  }
}
