@import "../vars.scss";

.contacts {
  width: 100%;
  position: relative;

  &--main {
    background-color: $white;
  }

  &--inverse {
    background-color: $light-bg;
  }
}

.contacts__block {
  padding-top: 28px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.contacts__lead-text {
  width: 50%;
  display: inline-block;
  color: $dark-text;
  font-family: $Font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__adress {
  width: 50%;
  margin: 0;
}

.contacts__adress span {
  display: block;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 2;
}

.contacts__map-wrapper {
  width: 100%;
  height: 400px;
  background-color: $light-bg;
}

.contacts__map-static {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 400px;
  margin: 0 auto;
}

.contacts__map-img {
  width: 100%;
  max-width: 320px;
  height: 400px;
}

.contacts__map-pin {
  position: absolute;
  width: 124px;
  height: 106px;
}

@media screen and (min-width: $tablet-width) {
  .contacts__block {
    padding: 66px 40px 40px;
  }

  .contacts__lead-text {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    width: 160px;
    text-align: right;
  }

  .contacts__adress span:first-of-type {
    margin-bottom: 19px;
  }

  .contacts__map-static {
    max-width: 768px;
  }

  .contacts__map-img {
    max-width: 768px;
  }
}

@media screen and (min-width: $desktop-width) {
  .contacts {
    &--inverse {
      background-color: $white;
    }
  }

  .contacts__wrap {
    position: relative;
  }

  .contacts__block {
    width: 570px;
    padding: 69px 90px 59px 76px;
    position: absolute;
    left: 0;
    top: 95px;
    z-index: 3;
    background-color: $white;
  }

  .contacts__map-static {
    max-width: 1440px;
  }

  .contacts__map-img {
    max-width: 1440px;
  }
}
