@import "../vars.scss";
.developer {
  transition: opacity 0.3s ease;

  &:active {
    opacity: 0.3;
  }

  &:active .developer__icon,
  &:hover .developer__icon,
  &:focus .developer__icon {
    fill: $accent;
  }
}

.developer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $light-text;
}

.developer__icon {
  transition: fill 0.3s ease;
  fill: #666666;
}


