@import "../vars.scss";

.form {
  color: #222222;
  font-family: $Font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__field-group {
  padding: 0;
  border: none;
}


.form__input-block {
  margin: 0;
}

.form__legend {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

