.form {
  padding-top: 10px;
  padding-bottom: 31px;
  color: #222222;
  font-family: $Font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__field-group {
  padding: 0;
  margin: 0;
  border: none;

  &--pet {
    padding-bottom: 20px;
  }

  &--contacts {
    margin-top: 10px;
    padding-bottom: 7px;
  }

  &--comment {
    padding-bottom: 7px;
  }

  &--radio {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 20px 6px 20px;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
}

.form__title {
  // width: 100%;
  margin-bottom: 14px;
  display: block;
}

.form__input-block {
  margin: 0;
  margin-bottom: 13px;
}

.form__input-block:last-of-type {
  margin-bottom: 0;
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding-right: 10px;
  padding-top: 13px;
  resize: none;
}

.form__legend {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: initial;
}

.form__button-block {
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.form__button {
  width: 100%;
  margin-bottom: 18px;
}

@media screen and (max-width: $mobile-width-only) {
  .form__field-group--contacts span {
    width: 221px;
  }
}

@media screen and (min-width: $tablet-width) {
  .form {
    padding: 6px 35px 72px 40px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__input-block {
    margin-bottom: 20px;
  }

  .form__title {
    margin-bottom: 0;
    // margin-left: -70px;
  }

  .form__field-group {
    &--pet {
      padding-bottom: 72px;
    }

    &--contacts {
      margin-top: 55px;
      margin-bottom: 47px;
      padding-bottom: 0;
    }

    &--comment {
      margin-bottom: 35px;
    }

    &--radio {
      margin: 0;
      padding: 25px 20px 13px 28px;
      border: 1px solid $border-color;
    }
  }

  .form__input-wrap {
    margin-top: 55px;
  }

  .form__textarea {
    min-height: 174px;
    margin-top: 57px;
  }

  .form__button-block {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  .form__button {
    width: 284px;
    margin: 0;
    margin-right: 50px;
  }

  .form__legend {
    display: block;
    width: 200px;
    font-size: 16px;
    text-transform: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .form {
    padding: 0;
    padding-top: 4px;
    margin-bottom: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__field-group {
    &--pet {
      width: 568px;
      padding-bottom: 0;
    }

    &--contacts {
      width: 100%;
      margin-bottom: 29px;
      margin-top: 50px;
    }

    &--comment {
      width: 100%;
      margin-bottom: 37px;
    }

    &--radio {
      width: 570px;
    }

    &--checkbox {
      width: 100%;
    }
  }

  .form__input-wrap {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__button-block {
    margin-top: 29px;
  }

  .form__button {
    width: 568px;
    margin-right: 72px;
  }
}
