@import "../vars.scss";

.input {
  padding: 13px 15px;
  box-sizing: border-box;
  font: inherit;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid rgba($border-color, 50%);
}

.input::placeholder {
  color: $light-text;
}

.input:invalid {
  box-shadow: 0 0 0 2px $invalidColor;
  outline: none;
}

.input:hover {
  border: 1px solid $border-color;
}

.input:focus {
  box-shadow: 0 0 0 2px $light-text;
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.input:not(:focus):invalid {
  box-shadow: 0 0 0 2px #ff8282;
}

@media screen and (min-width: $tablet-width) {
  .input {
    padding: 10px 18px;
  }
}
