@import "../vars.scss";

.page-footer {
  background-color: $light-bg;
}

.page-footer__container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer__wrap {
  width: 100%;
  padding: 10px 0 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-color;
}

@media screen and (min-width: $tablet-width) {
  .page-footer__container {
    width: 768px;
    padding: 58px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__wrap {
    width: 130px;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-footer__container {
    width: $desktop-width;
    padding: 60px 0;
  }
}
