@import "../vars.scss";

.products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {
  padding: 22px 20px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $border-color;
}

.products__preview {
  width: 140px;
  height: 144px;
}

.products__desc {
  width: 50%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__caption {
  width: 74px;
  margin-bottom: 8px;
  text-align: left;
  font-family: $Font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-text;
}

.products__button {
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__item {
    width: 324px;
    padding: 40px 37px;
    margin-bottom: 140px;
    background-color: $light-bg;
  }

  .products__desc {
    font-size: 16px;
  }

  .products__caption {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .products__item {
    width: 245px;
    border: 1px solid $border-color;
  }
}
