@import "../vars.scss";

.products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {
  padding: 0 20px 24px;
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $border-color;
}

.products__preview {
  width: 140px;
  height: 140px;
}

.products__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  border-spacing: 0;
}

.products__desc tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.products__row {
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
}

.products__desc td {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.products__caption {
  width: 100px;
  margin-top: 21px;
  margin-bottom: 14px;
  text-align: left;
  font-family: $Font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-text;
}

.products__caption a {
  color: $dark-text;
}

.products__button {
  width: 100%;
}

@media screen and (min-width: $tablet-width) {
  .products {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__item {
    width: 324px;
    padding: 0 37px 40px;
    margin: 0;
    margin-bottom: 59px;
    justify-content: center;
    border: none;
    background-image: linear-gradient(to bottom, transparent 0, transparent 81px, #f2f2f2 81px, #f2f2f2 100%);
  }

  .products__item-wrap {
    display: block;
    margin-left: -37px;
    margin-right: -37px;
  }

  .products__picture--small {
    display: block;
    margin-top: 33px;
  }

  .products__preview {
    &--small {
      width: 245px;
      height: 174px;
    }

    &--big {
      width: 245px;
      height: 208px;
    }
  }

  .products__desc {
    width: 100%;
    margin-bottom: 33px;
    align-items: center;
    font-size: 16px;
  }

  .products__caption {
    width: 150px;
    margin: 29px auto 19px;
    font-size: 20px;
    text-align: center;
  }

  .products__row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .products__button {
    padding-top: 11px;
    padding-bottom: 9px;
    font-size: 16px;
  }
}

@media screen and (min-width: $desktop-width) {
  .products__item {
    width: 245px;
  }

  .products__caption {
    display: block;
  }

  .products__desc {
    display: block;
  }

  .products__picture--small {
    margin-top: 36px;
  }
}
