@import "../vars.scss";

.promo {
  width: 100%;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  text-align: center;
}

.promo__wrap {
  padding-top: 30px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.promo__title {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.promo__lead-text {
  display: inline-block;
  margin-bottom: 29px;
  font-family: $Font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
}

.promo__button {
  order: 2;
}

@media screen and (min-width: $tablet-width) {
  .promo {
    background-image: none;
    text-align: left;
  }

  .promo__wrap {
    padding-top: 52px;
    padding-left: 88px;
    padding-bottom: 529px;
    position: relative;
  }

  .promo__lead-text {
    margin-bottom: 48px;
    color: $dark-text;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .promo__title {
    max-width: 415px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;
  }

  .promo__button {
    width: 245px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promo {
    width: 100%;
    margin: 0;
    padding: 142px 0 57px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: top right;
  }

  .promo__wrap {
    width: 1220px;
    padding: 81px 59px 133px 80px;
    margin: 0 auto;
  }

  .promo__lead-text {
    margin-bottom: 54px;
  }

  .promo__img {
    top: 0;
    right: 0;
  }
}
