@import '../vars.scss';
.promo {
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-color: rgba($accent, 70%);
  background-repeat: no-repeat;
  background-position: center;
}
