@import "../vars.scss";

.selection {
  padding: 30px 0;
  overflow-y: hidden;
}

.selection__title {
  margin-bottom: 35px;
  padding: 0 20px;
}

.selection__description {
  margin: 0;
  margin-bottom: 19px;
  padding: 0 20px;
  color: $dark-text;
  font-family: $Font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
