@import "../vars.scss";

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social__item {
  width: 55px;
  text-align: center;
}

.social__icon {
  fill:  #666666;
}
