@import "../vars.scss";

.stats {
  padding-top: 17px;
  padding-bottom: 26px;
  background-color: $light-bg;
}

.stats__title {
  margin-bottom: 24px;
}

.stats__block--left {
  margin-bottom: 33px;
}

.stats__header {
  margin-bottom: 22px;
}

.stats__text {
  margin: 0;
  padding-right: 14px;
}

.stats__list {
  width: 100%;
  margin-bottom: 14px;
}

.stats__list tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats__cell {
  width: 124px;
  padding: 0;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.stats__value {
  margin: 0;
  padding: 14px 19px 16px;
  color: $dark-text;
  font-family: $Font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.stats__desc {
  padding: 0 15px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background-color: $light-bg;
}

.stats__total {
  margin: 0;
  color: $dark-text;
  font-family: $Font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: $tablet-width) {
  .stats {
    padding-top: 44px;
    padding-bottom: 0;
    background-color: $white;
    border-top: 1px solid $border-color;
  }

  .stats__header {
    margin-bottom: 50px;
  }

  .stats__block-wrap {
    display: flex;
    justify-content: space-between;
  }

  .stats__title {
    margin-bottom: 64px;
  }

  .stats__list {
    width: 366px;
  }

  .stats__cell {
    width: 162px;
    padding-bottom: 12px;
  }

  .stats__cell:first-of-type .stats__desc {
    width: 114px;
  }

  .stats__cell:nth-of-type(2) .stats__desc {
    width: 142px;
  }

  .stats__value {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37.02px;
  }

  .stats__desc {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  .stats__total {
    width: 174px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
  }

  .stats__block {
    z-index: 1;

    &--left {
      margin-bottom: 57px;
    }

    &--right {
      margin-right: -30px;
      margin-left: -30px;
      position: relative;

      &::before {
        width: 100%;
        height: 460px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%) no-repeat 50% 50% / 100% 100%;
        z-index: 0;
        content: "";
      }
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .stats {
    position: relative;
    padding-top: 20px;
    border: none;


    &::before {
      width: 100%;
      height: 460px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%) no-repeat 50% 50% / 100% 100%;
      z-index: 0;
      content: "";
    }
  }

  .stats__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .stats__block {
    width: 431px;

    &--right {
      margin: 0;
      width: 677px;

      &::before {
        background-image: linear-gradient(to right, #f2f2f2 58%, #eaeaea 50%);
      }
    }
  }

  .stats__block-wrap {
    flex-wrap: wrap;
  }

  .stats__text {
    padding-right: 0;
  }

  .stats__title {
    margin-top: 55px;
    margin-bottom: 145px;
  }

  .stats__header {
    margin-bottom: 66px;
  }

  .stats__list {
    width: 366px;
    margin-bottom: 33px;
  }

  .stats__desc {
    background-color: $light-bg;
  }

  .stats__total {
    width: 327px;
    display: flex;
    justify-content: space-between;
  }
}
