@import "../vars.scss";

.working {
  width: 100%;
  padding-bottom: 42px;
}

.working__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.working__title {
  margin-bottom: 25px;
}

.working__item {
  position: relative;
  padding: 3px 0;
  padding-left: 80px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $accent;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }

  &--first::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--second::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--third::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--fouth::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.working__item br {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .working__list {
    padding-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .working__item {
    width: 245px;
    padding: 114px 0 50px 0;
    margin-bottom: 81px;

    &::after {
      width: 71px;
      height: 228px;
      position: absolute;
      top: 0;
      right: 25%;
      color: $light-bg;
      font-family: $Font;
      font-size: 281px;
      font-weight: 400;
      line-height: 205px;
      z-index: -1;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &--first::after {
      content: "1";
    }

    &--second::after {
      content: "2";
    }

    &--third::after {
      content: "3";
    }

    &--fouth::after {
      content: "4";
    }

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 10px;
    }
  }

  .working__item br {
    display: inline-block;
  }

  .working__title {
    margin-bottom: 71px;
  }
}

@media screen and (min-width: $desktop-width) {
  .working {
    padding-bottom: 0;
  }

  .working__list {
    padding-right: 0;
  }

  .working__item,
  .working__item:nth-last-child(2),
  .working__item:last-child {
    margin-bottom: 0;
  }

  .working__title {
    margin-bottom: 70px;
  }
}
